<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Telegram Manager{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/base.css?v={{ range(1, 10000) | random }}">
    {% block head_extra %}{% endblock %}
</head>

<body>
    <div class="app-container">
        <aside class="sidebar">
            <div class="sidebar-top">
                {% block sidebar_back %}
                {% endblock %}
            </div>

            <div class="sidebar-content">
                {% block sidebar_info %}
                {% endblock %}
            </div>

            <div class="sidebar-settings">
                <div class="settings-header">Settings</div>
                {% block settings %}
                {% endblock %}
            </div>
        </aside>

        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>

</html>
