{% extends "base.html.j2" %}
{% import "macros/chat_card.html.j2" as cards %}

{% block title %}
{% if chat %}
{{ chat.name }} - Topics
{% else %}
Forum Topics
{% endif %}
{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="/static/css/chat_list.css">
<link rel="stylesheet" href="/static/css/forum_styles.css">
{% endblock %}

{% block content %}
<div class="header">
    <a href="/" class="back-link">← Back to Chats</a>
    <h1>
        {% if chat %}
        {{ chat.name }}
        {% else %}
        Topics
        {% endif %}
    </h1>
</div>

<div class="chat-list">
    {% for chat in chats %}
    {{ cards.render_chat_card(chat, parent_id=parent_id) }}
    {% endfor %}
</div>
{% endblock %}