.back-link {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.avatar {
    width: 40px;
    height: 40px;
    font-size: 1.5rem; /* Larger font for emoji */
    color: #006064; /* Specific color for forum topics */
}
