.avatar {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: #00bcd4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #1e2a38;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}
