.avatar {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    color: #006064;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #e0f7fa;
}

.header h1 {
    margin: 0;
    font-size: 1.5rem;
}
