{% extends "base.html.j2" %}
{% import "macros/chat_card.html.j2" as cards %}

{% block head_extra %}
<link rel="stylesheet" href="/static/css/chat_list.css">
<link rel="stylesheet" href="/static/css/index_styles.css">
{% endblock %}

{% block sidebar_back %}
{% endblock %}

{% block settings %}
{% endblock %}

{% block content %}
<div class="chat-list">
    {% for chat in chats %}
    {{ cards.render_chat_card(chat) }}
    {% endfor %}
</div>
{% endblock %}
